In [2]:
x=1
print(x)

1

In [1]:
x=1
print(x)

1

In [4]:
x="ashutosh"
print(x)

ashutosh

In [2]:
x=567
y=90
print(x/y)

6.3

In [6]:
x=(5/8/2019)
y=(5/9/2019)
print(y-x)

-3.4395465301854554e-05

# hading1
##  heading2

x=2
y=1

In [13]:
print(x-y)

-4.999690440812283

In [8]:
y = 5
y < 10

True

In [ ]:
x= '123.256'

In [14]:
type(x)

float

In [15]:
type(float(x))

float

In [16]:
x=5 % 2
print (x)

1

In [17]:
x=13
x=x/5
print (x)

2.6

In [18]:
x=13
x/=5
print(x)

2.6

In [ ]:
x=10

In [22]:
x<5

True

In [23]:
x>5 or y<10

True

In [ ]:
sum=9+5

In [26]:
print(sum)

<built-in function sum>

In [35]:
x=345.87

In [34]:
y=float(x)

In [2]:
x=0
if x>0:
    print ('positive')
    z = 10
    print (z)
elif x==0:
    print ('zero')
else:
    print ('negative')

zero

In [4]:
x=-1
if x>0:
    print ('positive')
    z = 10
    print (z)
elif x==0:
    print ('zero')
else:
    print ('negative')

negative

In [8]:
x=10
z='positive' if x>0 else 'negative'if x<0 else 'zero'
print (z)

positive

In [11]:
a=7
if a>7:
    print('odd')
    B=6
    PRINT(B)
elif a == -1:
    print ('Seven')
else:
    print ('negative')

negative

In [4]:
#loop
i=1
while (i<11):
    print(i*3)
    i+=1

3
6
9
12
15
18
21
24
27
30

In [9]:
a=1
while (a<11):
    print(a*5)
    a+=1

5
10
15
20
25
30
35
40
45
50

In [ ]:
##tuple

t1 = [12, 34, 65, 34, 76, 87, 22.5, 'a', 't']
t2 = [12, 34, 65, 34, 76, 87]

In [14]:
print [t2]

NameError: name 't2' is not defined